@font-face {
    font-family: 'Codec Pro';
    src: url('/fonts/CodecPro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bukhari Script';
    src: url('/fonts/BukhariScript.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #f7e5c6;
    background-image: url("/src/linias.png");
    background-attachment: fixed;
}
.body{
    margin-left: 25px;
    margin-right: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
    filter: drop-shadow(4px 5px 1px black);
    margin-left: 2rem;

}

.buscador input[type="text"] {
    padding: 1px 15px;
    border-radius: 51px;
    border: 2px solid #8b4a28;
    background-color: #f7e5c6;
    text-align: start;
    font-size: 19px;
    width: 60rem;
    height: 40px;

}

::placeholder {
    color: #8b4a28;
    opacity: 1;
    font-size: 22.3px;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 3px;
    background-color: #8b4a28;
    margin-bottom: 15px;
}
.barra2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 93%;
    height: 3px;
    background-color: #474240;
    margin: auto auto 15px auto;
}
.navegador{
    margin-left: 60px;
    margin-bottom: 10px;
}
.navegador button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer; 
    margin-right: 10px;
}

.WatchList{
    padding: 1px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
}
.WatchList a:hover{
    color:#d46a00;
}
.usuario img {
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    border-radius: 50%;
}


.review {
    display: flex;
    flex-direction: row;
    background-color: #f7e5c6bb;
    border: 3px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: 20px auto;

    width: 800px;
}

.review img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 16px;
}

.review img:hover{
    border: solid 2px #161616;
}

.review a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
 .review h2{
    font-family: 'Codec Pro';
    margin-bottom: 5px;
 }

.estrellas{
    display: flex;
}
.fecha{
    margin-left: 15px;
}

.review-text {
    display: flex;
    flex-direction: column;
}

.review p{
    margin-top: 15px;
    word-break: break-all;
    overflow-wrap: break-word;
}
