@font-face {
    font-family: 'Codec Pro';
    src: url('/fonts/CodecPro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bukhari Script';
    src: url('/fonts/BukhariScript.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #f7e5c6;
    background-image: url("/src/linias.png");
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.logo img {
    width: 250px;
    filter: drop-shadow(4px 5px 1px black);
    margin-left: 2rem;

}

.buscador input[type="text"] {
    padding: 1px 15px;
    border-radius: 51px;
    border: 2px solid #8b4a28;
    background-color: #f7e5c6;
    text-align: start;
    font-size: 19px;
    width: 60rem;
    height: 40px;

}

::placeholder {
    color: #8b4a28;
    opacity: 1;
    font-size: 22.3px;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 3px;
    background-color: #8b4a28;
    margin-bottom: 15px;
}

.barra2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 3px;
    background-color: #474240;
    margin: auto auto 15px auto;
}

.navegador {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 60px;
    margin-bottom: 10px;
}

.navegador a {
    color: #d46a00;
}

.navegador img {
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    border-radius: 50%;
}

.navegador p {
    display: flex;
    font-family: 'Codec Pro';
    align-items: center;
    font-size: 30px;
    margin-right: 15px;
}

.navegador button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
}

.usuario img {
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    border-radius: 50%;
}

.opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinion .user {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.opinion .user img {
    width: 50px;
    border-radius: 50%;
}

.review {
    display: flex;
    flex-direction: row;
    background-color: #f7e5c6bb;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;

    width: 800px;
}


.review img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 16px;
}

.review img:hover {
    box-shadow: 0 0 0 4px white;
    filter: drop-shadow(rgba(255, 255, 255, 0.589) 0px 1px 20px);
}

#visto:hover {
    color: #f39a3f;
}

.review a {
    text-decoration: none;
    color: #f39a3f;
    font-weight: bold;
}


.review h2 {
    font-family: 'Codec Pro';
    margin-bottom: 5px;
}

.estrellas {
    display: flex;
    align-items: center;
    color: #f39a3f;
}

.fecha {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 5px;
}

.review-text {
    display: flex;
    flex-direction: column;
}

.review p {
    font-family: 'Codec Pro';
    color: #000000;
    font-size: 20px;
    margin-top: 15px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.boton{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 15px;
}
.anterior, .siguiente {
    position: relative;
}
.boton a{
    font-family: 'Codec Pro';
    text-align: center;
	display: inline-block;
	background: #f39a3f;
	padding: 6px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	border: 2px solid black;
	cursor: pointer;
	font-size: 16px;
	transition: all .3s ease;
}
.boton a:hover{
    transform: scale(1.05);
}