@font-face {
    font-family: 'Codec Pro';
    src: url('/fonts/CodecPro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bukhari Script';
    src: url('/fonts/BukhariScript.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7e5c6;
    background-image: url("/src/linias.png");
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #000000;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.logo img {
    width: 250px;
    filter: drop-shadow(4px 5px 1px black);
    margin-left: 2rem;

}

.buscador input[type="text"] {
    padding: 1px 15px;
    border-radius: 51px;
    border: 2px solid #8b4a28;
    background-color: #f7e5c6;
    text-align: start;
    font-size: 19px;
    width: 60rem;
    height: 40px;

}

::placeholder {
    color: #8b4a28;
    opacity: 1;
    font-size: 22.3px;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 3px;
    background-color: #8b4a28;
    margin-bottom: 15px;
}
.usuarios{
    padding-left: 100px;
    padding-right: 100px;
    
}
.usuarios p{
    font-family: 'Codec Pro';
    font-size: 20px;
    margin-bottom: 15px;
}
.usuario-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    
}
.foto img{
    border-radius: 50%;
}
.nombre-foto p{
    font-family: 'Codec Pro';
    font-size: 20px;
}
.usuario img {
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    border-radius: 50%;
}
.barra2{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 3px;
    background-color: #474240;
    margin: 10px auto 15px auto;
}
.peliculas {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px); 
    gap: 5px; 
    margin-top: 25px;
    margin-left: 50px;
    
}

.peliculas p {
    text-align: center;
    text-decoration: none;
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
    text-align: start;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 2px;

}

.peliculas img {
    width: 220px;
    height: 317px;
    border: 4px solid #e7eee7;
    border-radius: 14px;
    transition:all .3s ease;
}
.peliculas img:hover{
    transform: scale(1.05);
    border: 4px solid #101010;
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 5px );
}

.contenedor .usuarios img{
        width: 70px;
        height: 70px;
        margin-right: 2rem;
}
.sin-review{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sin-review p{
    font-family: 'Codec Pro';
    font-size: 40px;
}

.paginacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginacion p{
    font-family: 'Codec Pro';
    font-size: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.paginacion p strong{
    color: #f39a3f;
}

.paginacion p:hover{
    transform:scale(1.05);
}