@font-face {
    font-family: 'Codec Pro';
    src: url('/fonts/CodecPro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bukhari Script';
    src: url('/fonts/BukhariScript.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #26698a;
    background-image: url("/src/4f.png");
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.logo img {
    width: 250px;
    filter: drop-shadow(4px 5px 1px black);
    margin-left: 2rem;

}

.buscador input[type="text"] {
    padding: 1px 15px;
    border-radius: 51px;
    border: 2px solid #f7e5c6;
    background-color: #1f5c7a;
    text-align: start;
    font-size: 19px;
    width: 60rem;
    height: 40px;

}

::placeholder {
    color: #f7e5c6;
    opacity: 1;
    font-size: 22.3px;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 3px;
    background-color: #f7e5c6;
    margin-bottom: 15px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.contenedor p {
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
    text-align: start;
    color: #d4cfc1;
    margin-bottom: 5px;

}

.bloque {
    align-items: center;
    width: auto;
    background-color: #1f5c7a;
    border: 5px solid #bbb39f;
    border-radius: 39px;
    filter: drop-shadow(8px 8px 0px #283a50);

}



.Poster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    margin-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 20px;
}
.numeros_poster h2{
    display: flex;
    align-items: end;
    font-family: 'Bukhari Script';
    font-size: 200px;
    color: #d4cfc1;
    text-shadow: 5px 5px 0 #283a50,
        10px 5px 0 #1d2c3f;
        transition:all .3s ease;
    
}

.Poster a {
    
    grid-column: auto;
}

.Poster img {

    justify-content: flex-start;
    width: 178px;
    height: 256px;
    margin-left: 150px;
    border: 3px solid #e7eee7;
    border-radius: 14px;
    transition:all .3s ease;
}
.Poster img:hover{
    border: none;
    transform:scale(1.05);
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 5px );
}

.numeros-poster{
    display: flex;
    flex-direction: row;
}
.Posters{
    margin-left: -150px;
}
.usuario img {
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    border-radius: 50%;
}

.peliculas {

    flex-direction: column;
    margin-top: 25px;
    margin-left: 90px;
}

.peliculas p {
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
    text-align: start;
    color: #d4cfc1;
    margin-top: 5px;
    margin-bottom: 2px;
    stroke-width: 2px solid black;


}

.peliculas img {
    margin-top: 25px;
    margin-left: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    height: 317px;
    border: 3px solid #e7eee7;
    border-radius: 14px;
    transition:all .3s ease;
}
.peliculas img:hover{
    border: none;
    transform:scale(1.05);
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 5px );
}

.sin-review{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sin-review p{
    font-family: 'Codec Pro';
    font-size: 40px;
}

@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: row;
    }
  .buscador input[type="text"] {
    width: 80%; /* Reduce el ancho relativo al contenedor */
    font-size: 16px;
    height: 35px;
    padding: 1px 10px;
  }

  ::placeholder {
    font-size: 18px;
  }
}

